*{
    padding: 0px;
    margin: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1,.caixa2{
    width: 300px;
    height: 500px;
    background-color: rgb(192, 192, 192);
    border: 4px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo input{
    border: none;
    width: 170px;
    height: 30px;
    margin: 5px 0px;
}
.conteudo button{
    border:none;
    width: 150px;
    margin: 5px 0px;
    padding: 10px 5px;
    background-color: #025;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.curso{
    display:flex;
    justify-content:space-between;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    align-items: center;
    height: 20px;
}

.curso:hover{
    border-color: #f00;
}

.c1{
    background-color: #ccc;
    color: #444;
}

.c2{
    background-color: #444;
    color: #ccc;
}

.comandos{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#caixa2 input{
    margin: 10px;
    padding: 5px;
    width: 16px;
}

.selecionado{
    background-color: #800 !important;
    color: white !important;
    border-color: #f00 !important;
}